/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    max-width: 100px;
}

/* Estilos da barra de navegação */
nav {
    background-color: #333;
    padding: 15px;
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex; /* Define a lista como um flex container */
    justify-content: center; /* Alinha os itens ao centro */
}

nav li {
    margin: 0 15px; /* Adiciona espaço entre os itens */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.numbers div {
    text-align: center;
    font-size: 24px;
}

/* Estilos para o vídeo institucional */
#video-institucional {
    background-color: #F3F3F3;
    text-align: center;
    padding: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.video-container iframe {
    max-width: 100%;
    border: none;
}

/* Seção de Parceiros */
#parceiros {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.parceiros-slider {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.parceiro {
    text-align: center;
}

.parceiro img {
    max-width: 100px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .footer-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

footer .footer-info img {
    max-width: 80px;
}

footer .links,
footer .contato {
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}